<p id="notice"><%= notice %></p>

<h1>Listing Trips</h1>


<table>
  <tbody>
    <% @trips.each do |trip| %>
      <td><%= link_to image_tag(trip.image_url), trip %></td>
      
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Trip', new_trip_path %>

