
<% if current_user.trips.count != 0 %>

<div class="section">
    <% @trips.each do |trip| %>
      <div class="trip_img"><%= link_to image_tag(trip.image_url), trip %></div>
      
    <% end %>

<% else %>

<h1 id="before_trip">Now you can save your favourite journeys!</h1>
<% end %>

<p id="notice"><%= notice %></p>
</div>

