<div class="header">
  <h1>There and back again</h1>
  <ul>
    <li><%= link_to 'New Trip', new_trip_path %></li>
    <li><%= link_to 'Log In', login_path %></li>
  </ul>
</div>


<h1>New User</h1>

<%= render 'form' %>

<%= link_to 'Back', start_path %>
