body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/***************************************

MOJE WARIACJE

**************************************/

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f5f5dc;
  height: 100%;
  width: 100%;
  margin: 0;
}

.section {
  height: 100%;
}

.trip_img {
  height: 40vh;
  width: 28vw;
  margin: 2%;
  display: inline-block;
  float: left;
  overflow: hidden;

}

.trip_img img {
  max-width: 100%;
}

.header {
  background-color: #31698a;
  height: 80px;
  width: 100%;
  margin-top: 0px;
  border-bottom: solid 4px #2a334f;
 }

.header h1 {
  padding: 2vh 0 0 10%;
  color: white;
  display: inline-block;
}

.header a {
  margin: -5vh 5% 0 0;
  float: right;
  color: white;
}

/**************************
    RES TO 800px
*************************/

@media (max-width: 800px) {
  .trip_img {
    height: 30vh;
    width: 40vw;  
  }
}
