body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/***************************************

MOJE WARIACJE

**************************************/


body {
  background-color: #CDB380;

}

.section {
  width: 84%;
  margin: 0 6.5%;
}

.trip_img {
  height: 20vw;
  width: 31.33%;
  margin: 1%;
  display: inline-block;
  float: left;
  overflow: hidden;
}

.trip_img img {
  max-width: 100%;
  min-height: 100%;
}

.header {
  background-color: #036564;
  height: 80px;
  width: 100%;
  margin-top: 0px;
  border-bottom: solid 4px #6A4A3C;
  text-transform: uppercase;
  color: white;
  margin: -1%;

 }

.header h1 {
  float: left;
  padding: 15px 0 0 10%;
}

.header ul {
  padding: 25px 2% 0 0;
  float: right;
  width: 15%;
}

.header li {
  display: inline;
  margin: 1%;
}

.header a {
  color: white;
}


/********************************
Each trip page
**************************/


.img_show {
  height: 50vw;
  width: 60%;  
  overflow: hidden; 
  margin: auto;
  border: solid 2px black;
  max-height: 530px;
  max-width: 630px;
  margin-top: 2%;

}
.img_show img {
  max-width: 100%;
  min-height: 100%;

}


/**************************
    RES TO 800px
*************************/

@media (max-width: 800px) {
  .trip_img {
    height: 30vw;
    width: 48%;
  }
  
  .header h1 {
    clear: both;
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 3%;
    line-height: 1em;
  }

  .header ul {
    width: 100%;
    clear: both;
    margin: auto;
    padding: 0;
    text-align: center;    
  }

  .header {
    height: 100px;

 }

}


